.cover_footer{
    background-image: url(../img/footer_bg.jpg);
    background-repeat:repeat;
    color:white;
    width: 100%;
    margin:0 auto;
    padding-bottom:30px;
    display: flex;
    flex-wrap:wrap;
}
.title_footer{
    font-size:40px;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 0px;
    width: 250px;
}
.footer p {
    font-family: "Roboto";
    color: #506172;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
}
.footer-tittle h4 {
    color: #FFF;
    height: 0px;
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: bolder;
    text-transform: capitalize;
}
.footer-tittle li a{
    display: list-item;
    text-decoration: none;
    color: #ced9e1;
    font-weight: 300;
}
.footer-tittle{
    margin-top: 69px;
    margin-left: 120px;
}
.footer{
    margin-top: 49px;
    margin-left: 79px;
}

.lang li{
    position: relative;
    top: 41px;
    right: 14px;
}

.foot-hr{
    width: 90%;
    border: 0.2px solid #463e3e;
    position: relative;
    bottom: -10px;
}

.foot-info {
    padding-left: 68px;
    
}

.foot-info a{
    padding-left: 5px;
    text-decoration: none;
    
}

.Copyright{
    float: right;
    padding-left: 126px;
}

.fa {
    padding: 6px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
  }
  
  .fa:hover {
      opacity: 0.9;
      text-decoration: none;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .social-media{
    padding-left: 247px;
  }