*{
    margin:0;
    padding:0;
}

body{
    background-image: url(../img/33.jpg) ;
    background-size: cover;
    font-family: sans-serif;
}

h1{
    color:white;
    padding-top: 60px;
    line-height: 50px;
    text-align: center;
}

.login{
    background-color: rgba(07, 5, 9, 0.8);
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50%;
    top:50%;
    /* text-align: center; */
    transform: translate(-50%,-50%);
}

.register{
    display: flex;
    flex-wrap: wrap;
}
.login input[type="text"],.login input[type="password"],.login input[type="email"]
{
    text-align: center;
    color:white;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 14px 5px;
    border-radius: 24px;
    margin : 20px auto ;
    text-align: center;
    width: 200px;
    background: none;
    border: 2px solid rgb(80, 80, 155);
    transition: 0.25s;
}

::placeholder {
    color: grey;
  }
.login input[type="text"]:hover,.login input[type="password"]:hover,.login input[type="email"]:hover{
    border-color: seagreen;
    width:260px;
}

.login input[type="submit"]
{
    display:block;
    padding: 14px 24px;
    border-radius: 24px;
    margin : 20px auto ;
    text-align: center;
    width: 200px;
    background-color: rgb(80, 80, 155);
    border:2px solid rgb(80, 80, 155);
    color: white;

}

.login input[type="submit"]:hover{
    background-color: #2ecc71;
    border:2px solid #2ecc71;
    cursor: pointer;
}

a{
    color :grey;
    position: relative;
    text-decoration: none;
    padding-left: 60px;
    line-height: 20px;
}
a:hover{
    opacity:0.8;
    color:white
}

#back{
    font-size:15px;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    top:60px;
    left:20px;
    background-color: rgba(07, 5, 9, 0.4);
    border-radius: 20px 20px;
    padding : 10px 20px;
}